<div class="border border-info">
<div class="row bg-light p-3">
  <div class="col-3 h4"> <%=@student.imie%> <%= @student.nazwisko %></div>
  <div class="col-3 h4"> Ocena z: <%= @course.nazwa %></div>
</div>
<div class="row bg-light p-3">
  <div class="col">
    <%=form_with url: zapisz_student_url do |form| %>
      <%= form.hidden_field :course_id, value: @course.id %>
      <%= form.text_field :grade, value: @cs  %>
      <%= form.submit "Zapisz", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>
</div>