<p style="color: green"><%= notice %></p>


<div class="row bg-success p-3">
  <div class="col-8 h2">Studenci</div>
  <div class="col"></div>
  <div class="col-1"><%= link_to "Grupy", groups_path, class: "btn btn-info" %> </div>
  <div class="col-1"><%= link_to "Przedmioty", courses_path, class: "btn btn-info" %> </div>
</div>
<div id="students">
  <% @students.each do |student| %>
    <%= render student %>

  <% end %>
</div>
<%= render "form", student: @student %>


