<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row bg-info gy-lg-3 ">
    <div class="col-1 md-auto h5"><%= form.label :nazwa, style: "display: block" %></div>
    <div class="col-3 md-auto h5"><%= form.text_field :nazwa %></div>
    <div class="col-1 md-auto h5"><%= form.label :semestr, style: "display: block" %></div>
    <div class="col-4 md-auto h5"><%= form.number_field :semestr %></div>
    <div class="col"><%= form.submit "Zapisz", class: "btn btn-primary" %></div>
  </div>



  <div class="row bg-info justify-content-center">
    <div class="col-6 md-auto">
      <%= form.collection_check_boxes :course_ids, Course.all, :id, :nazwa, {}, {class: "form-check form-check-inline"}  %>
    </div>

  </div>

  <div>

  </div>
<% end %>
