<div id="<%= dom_id course %>">


  <div class="row bg-light p-3 border-top border-info">
    <div class="col-2">
      <h3>Nazwa:</h3>
    </div>
    <div class="col">
     <h3> <%= course.nazwa %></h3>
    </div>
    <div class="col-1">
      <%= link_to "Edit", edit_course_path(course), class: "btn btn-sm btn-primary " %>
    </div>
    <div class="col-1">
      <%= button_to "Destroy", @course, method: :delete, class: "btn btn-sm btn-primary " %>
    </div>
  </div>
  <div class="row p-3" >
    <% course.groups.each do |g| %>
    <div class="col-4" >
      <div class="card bg-info">
        <div class="card-body">
           <h5 class="card-title"> Grupa: <%= g.nazwa %> <%= link_to "Ocenianie", grade_course_path(course, group_id: g.id) ,class: "btn btn-sm btn-primary" %></h5>
           <div class="card-text">
            Studenci:
            <ol class="list-group list-group-numbered">
              <% g.students.each do |s| %>
                <li class="list-group-item"> <%= s.imie %> <%= s.nazwisko %>
                  <% if s.course_students.exists?(course_id: course.id, student_id: s.id) %>
                    - <%=s.course_students.where(course_id: course.id, student_id: s.id).first.grade %></li>
                  <%end %>
              <% end %>
            </ol>
           </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>


</div>
