<p style="color: green"><%= notice %></p>

<div class="row bg-success p-3 gx-3">
  <div class="col-8 h2">Przedmioty</div>
  <div class="col"></div>
  <div class="col-1"><%= link_to "Studenci", students_path, class: "btn btn-info" %> </div>
  <div class="col-1"><%= link_to "Grupy", groups_path, class: "btn btn-info" %> </div>
</div>



<div id="courses">
  <% @courses.each do |course| %>
    <%= render course %>

  <% end %>
</div>
<div class="row bg-light p-3">
  <div class="col"><%= link_to "New course", new_course_path, class: 'btn btn-secondary' %></div>
</div>

